.App {
  text-align: center;
}

.table-container {
  margin-top: 10px!important;
  width:80%!important;
  margin: 0 auto;
  height: auto;
  max-height: 600px;
  overflow: visible;
}

.arrow-filter {
  display: flex;
  align-items: center;
  justify-content: center;
}