.App {
  text-align: center;
  background-image: url('/Users/jacoborbach/BallisLife/basketball-players/src/photo-1525914813433-886dc018469d.jpeg');
  height: 100vh;
  overflow: auto;
  background-repeat: no-repeat;
  background-size:cover
}

.table-container {
  margin-top: 10px!important;
  width:80%!important;
  margin: 0 auto;
  height: auto;
  max-height: 600px;
  overflow: visible;
}

.arrow-filter {
  display: flex;
  align-items: center;
  justify-content: center;
}

.table-pagination {
  color: white;
}

.table-rows:nth-of-type(even) {
  background-color: rgb(182, 129, 139);
}